<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-margin">
  <ion-item>
    <ion-input name="email" type="email" placeholder="Email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input name="password" type="password" placeholder="Password"></ion-input>
  </ion-item>
  <ion-button  size="medium" type="submit" expand="block">Enter</ion-button>
  </div>
</ion-content>
